*{
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
}

.grid{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap ;  /*khi thang con vuot qua do dai thi tu dong xuong*/
}

