:root{
    --header--height:120px;
    --navbar--height:32px;
    --header--with--search--height:calc(var(--header--height) - var(--navbar--height))
}

.header{
    height: var(--header--height);
    background-image: linear-gradient(0,#fe6433,#f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.header__navbar--list{
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin: 10px 0 0 0;
    display: flex;
}

.header__navbar--item, .header__navbar--item--link{
    display: inline-block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
}
.header__navbar--item{
    margin: 0 8px;
    position: relative;
    
}
.header__navbar--img{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 5px;
}

.header__navbar--user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar--user:hover .user--menu{
    display: block;
}


.user--menu{
    position: absolute;
    z-index: 1;
    top: 110%;
    right: 0;
    display: none;
    padding: 4px 0px;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    
}

.user--menu--item{
    list-style: none;
}

.user--menu--item a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    padding: 4px 8px;
}

.user--menu--item a:hover{
    background-color:rgba(0,0,0,0.08);
}


.strong{
   font-weight: 400; 
}

.separate::after{  /* tao hieu ung nay , yeu cau element chua no mang relative */
    content:"";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color:#FB9086;
    right: -9px;
    top:50%;
    transform: translateY(-55%);
}

.header__navbar--item:hover,
.header__navbar--item--link:hover{
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar--item--has-qr:hover .header__qr{
    display: block;
}
.header__qr{
    width: 180px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 10%;
    display: none;
    animation: fadeIn ease 1s;
    will-change: opacity;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    top:-16px;
    left:0;
    content: "";
    display: block;
   

}

.header__qr--img{
    width: 100%;
}

.header__appdl{
    display: flex;
    justify-content: space-between;
}

.header__img--googleplay{
    height: 15px;
    margin-left: 10px;  
}

.header__img--appstore{
    height: 15px;
    margin-right: 10px;
}

.header__navbar--item--notify:hover .header__notify{
    display: block;
}
/*Header notification*/

.header__notify{
    position: absolute;
    z-index: 1;
    top:100%;
    right: 0;
    width: 404px;
    border :1px solid #D3D3D3;
    background-color: white;
    animation: headerNotify ease-in 0.2s;
    transform-origin: calc(100%-2opx) right;
    will-change: opactity, transform;
    display: none;
}

.header__notify::after{
    content: "";
    border:  solid;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -26px;
    right: 0px;
}


@keyframes headerNotify{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify--header{
    height: 40px;
    background-color:white;

}

.header__notify--header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
    cursor: default;
}

.header__notify--list{
    padding-left: 0px;
}

.header__notify--item{
    background-color: rgba(238,75,43,0.08);
}

.header__notify--item:hover{
    background-color: #F8F8F8;
}

.header__notify--item--viewed{
    background-color:white ;
}

.header__notify--link{
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;

}
.header__notify--img{
    width:48px;
    object-fit: contain;
}
.header__notify--info{
    margin-left: 12px;    
}
.header__notify--name{
    display: block;
    font-size: 1rem;
    color: black;
    font-weight: 400;
    line-height: 1rem;
}
.header__notify--descriotion{
    display: block;
    color: #756F6E;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.header__notify--footer{
    display: flex;
}
.header__notify--footer--btn{  
    text-decoration: none;
    margin:auto;
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 1rem;
}

/*auth modal */
.auth--form{
    width: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}
.auth--form__container{
    padding: 0 32px;
  
}

.auth--form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-top: 14px;
}

.auth--form__header{
    font-size: 1.4rem;
    font-weight: 400;
}

.auth--form__swtich{
    font-size: 1.1rem;
    color: #fe6433;
}

.autho--form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border:2px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}

.autho--form__input:focus{
    border-color: #888;
}

.auth--form_aside{
    margin-top:20px;
}

.auth--form__polici-text{
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}

.auth--form__policy-link{
    text-decoration: none;
    color: #fe6433;
}

.autho--form__controls{
    margin: 50px  0 20px 0;

}

.autho--form__controls{
    display: flex;
    justify-content: flex-end;
}

.auth--form__social{
 background-color: #f5f5f5;
 padding: 12px 36px;
 display: flex;
 justify-content: space-between;
}

.btn--icon{
    text-decoration: none;
}

.auth--form__social--fb{
    background-color: #3A5A98;
    color: white;
    padding: 0 4px;
}

.auth--form__social--fb
.auth--form__social--icon{
    color: white;
}

.auth--form__social--gg{
    background-color:white;
    color:rgba(0, 0, 0, 0.8);
    padding: 0 4px;
}

.auth--form__social--fb
.auth--form__social--icon{
    color: white;
}



.auth--form__social--text{
    margin-left:20px ;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.auth--form_aside--space{
    display: block;
    height: 22px;
    margin: 2px 16px 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
}


/*header__with--search*/
.header__with_search{
    height: var(--header--with--search--height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__short{
    height: 40px;
    flex: 1;
    margin: 0 10%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;  
}
.header__short--input{
    width: 92%;
    height: 100%;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 8px;
    border-radius: 5px;
}


.header__logo--icon{
    margin: 0 8px;
    font-size: 2.2rem;
    color: white;
}

.header__logo--text{
    font-size: 1.2rem;
    color: white;
}

/*cart*/
.header__cart{
    position: relative;
    right: 8px;
}

.header__cart--icon{
    margin: 0 8px;
    font-size: 2.2rem;
    color: white;
}

.header__cart:hover .header__cart-item{
    display: block;
    animation: fadeIn ease 1s;
}


.header__cart-item{
    position: absolute;
    top:110%;
    right: 0;
    width: 400px;
    background-color:white;
    display: none; 
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 0;
}

.header__cart-item-img{
    width: 30%;
    display: block;
    margin: 0px auto;
}

.cart-notify{
    position: absolute;
    top:-10px;
    right: -8px;
    background-color: white;
    padding: 2px 7px;
    border-radius: 50%;
    color:#f53e2d;
}

.header__cart-item::after{
    content: "";
    border:  solid;
    border-width: 10px 25px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -18px;
    right: 0px;
}

.header__cart--header{
    height: 40px;
    background-color:white;
    

}

.header__cart--header h3{
    color:#999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
    cursor: default;
}

.header__cart--list{
    padding: 0px;
    margin: 0px;
}

.cart--list--item{
    background-color: rgba(238,75,43,0.08);
    list-style: none;
    display: flex;
    padding: 12px 10px;
}

.cart--list--item:hover{
    background-color: #F8F8F8;
}

.cart--item--img{
    width:48px;
    object-fit: contain;
}

.header__cart--info{
    width: 100%;
}

.cart--item--head{
    display: flex;
    justify-content: space-between;
}

.cart--item-name{
    margin:0;
    font-size: 1rem;   
}

.cart--item--body{
    display: flex;  
    justify-content: space-between;
}

.cart--item--remove{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;   
}

.header__cart--footer{
    
}
.header__cart--footer--btn{  
    text-decoration: none;
    padding:8px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fe6433;
    color:white;
    float: right;
    
}
/*search*/
.header__short--search--btn{
    background-color: #fe6433;
    height: 34px;
    width: 50px;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
    flex: left;
     
}

.header__short--search--btn:hover{
    background-color: #fb6465;
}

.header__short:hover .header__short--history{
    display: block;
}

.header__short--history::before{
    position: absolute;
    width: 100%;
    height: 20px;
    top:-16px;
    left:0;
    content: "";
    display: block;
   
 
}
.header__short--history{
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: none;

}



.header__short--history--heading{
    margin:8px 12px;
    color: rgba(0, 0, 0, 0.25);
}

.header__short--history--list{
    margin:0 0 8px 0;
}
.header__short--history--list{
    list-style-type: none;
    padding-left: 0;
}

.header__short--history--item{
    padding: 0 12px;
}

.header__short--history--item:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.history__item-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    display: block;
}