/* CSS Document */

.div{
	border: 1px solid #0F3;
	padding: 3px ;
}

.div1{
	border: 1px solid #0F3;
	padding: 3px ;
	display:inline;
}

.span{
	border: 1px inset #F00;
	padding: 3px ;
}

.span1{
	border: 1px inset #F00;
	padding: 3px ;
	display: block;
}

